@charset "utf-8";
body {
    font-family: "Fira Sans", sans-serif;
    font-family: "Gayathri", sans-serif;
}
.bg-color {
    margin: 0;
    padding: 0;
    background-color: #754d27;
}
.topbar {
    /* display: block; */
    background: #efbbbb;
    height: 100px;
    width: auto;
    color: rgb(236, 77, 77);
    text-align: center;
}